body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(to right, #c0bdff, #E3E6E6);
}

.splash-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #000000; 
}

.splash-container h1 {
    color: #000000; 
}

.splash-container p {
    color: #000000;
}

.enter-button {
    background-color: #837dff; 
    color: #000000; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.enter-button:hover {
    background-color: #0056b3;
}

.splash-gif {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
