.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding: 20px; 
}

.card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(1, 140, 255, 0.2);
}

.card img {
    width: 100%; 
}

.card-container {
    padding: 2px 16px;
}