/* header.css */

/* Styles for the header and title */
header.jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #FCEB95;
  }
  
  
  /* Header title styles */
  header .section-heading {
    margin-right: 20px;
    font-size: 2.5rem;
  }
  
  /* If you have other elements in your header that you don't want to center, you can wrap your title in a div and center that specifically */
  .header-title {
    flex-grow: 1;
    text-align: center;
  }

  