/* header.css */

/* Styles for the header and title */
header.jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #FCEB95;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Set the top edge of the sticky header to the top of the viewport */
    z-index: 1000; /* Ensure the header stays above other content when scrolling */
  }
  
  
  /* Header title styles */
  header .section-heading {
    margin-right: 20px;
    font-size: 2.5rem;
  }
  
  /* If you have other elements in your header that you don't want to center, you can wrap your title in a div and center that specifically */
  .header-title {
    flex-grow: 1;
    text-align: center;
  }



  