/* sidebar.css */

.sidenav {
    padding-top: 60px; 
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFD814;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1;
  }
  
  .sidenav a {
    margin-bottom: 10px;
    padding: 8px 32px; 
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #232F3E;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
  }
  

  